.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-item {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: var(--border);
  padding: 0.75rem 1rem;
  overflow: hidden;
  transition: 0.25s linear;
}

.filters {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.filter-btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  border: var(--border);
  background-color: transparent;
  cursor: pointer;
}

.filter-btn.active,
.filter-btn:hover {
  background-color: var(--body);
}

.action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.action-btn {
  width: 18px;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

.complete-btn {
  font-size: 1rem;
  margin-top: 3px;
  background-color: transparent;
  border: var(--border);
}

.complete-btn i {
  color: #e4e4e7;
}

.remove-btn {
  font-size: 0.6rem;
  background-color: #fef2f2;
  border: 1px solid #fca5a5;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s linear;
}

.remove-btn i {
  color: #ef4444;
}

.task-item:hover .remove-btn {
  opacity: 1;
  pointer-events: visible;
}

.task-texts {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.text-top {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 60px;
  gap: 0.5rem;
}

.task-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-description {
  width: 100%;
  font-size: 0.8rem;
  color: var(--light);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.task-priority {
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  display: flex;
  margin-left: auto;
  border: var(--border);
}

.task-priority.green {
  border-color: var(--green);
  color: var(--green);
  background-color: var(--light-green);
}

.task-priority.purple {
  border-color: var(--purple);
  color: var(--purple);
  background-color: var(--light-purple);
}

.task-priority.orange {
  border-color: var(--orange);
  color: var(--orange);
  background-color: var(--light-orange);
}

/* COMPLETED TASK STYLES */

.task-item.completed {
  background-color: var(--light-green);
  border-color: var(--green);
}

.task-item.completed .complete-btn {
  border-color: var(--green);
}

.task-item.completed .complete-btn i {
  display: block;
  color: var(--green);
}

.task-item.completed .task-title,
.task-item.completed .task-description {
  text-decoration: line-through;
}

.task-item.completed .task-title {
  color: var(--light);
}
