@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./actors.css";
@import "./hero.css";

:root {
  --light-text: #f6f2f2;
  --dark: #000;
  --primary: #f5c518;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--dark);
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

button,
input {
  outline: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.yellow-text {
  color: var(--primary);
}

.section {
  position: relative;
  width: 100%;
  padding: 2rem 1rem;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  background: -webkit-linear-gradient(#eee, #7d8104);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
